* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --bg: #121212;
  --font: #ffffff;
  --dark-element: #1e1e1e;
  --light-element: #eee;
  --purple: rgb(145, 69, 238);
  --shadow: rgba(7, 6, 6, 0.2);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--dark-element);
}

::-webkit-scrollbar-thumb {
  background: var(--light-element);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  background: var(--bg);
  color: var(--font);
}
